h1{
    text-align: center;
    color: black;
    text-decoration-line:underline;
}
p{
    word-spacing: normal;
    margin-right: auto;
    color:rgb(205, 205, 29);
    
}

    div {

        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        
        padding: 50px;
        margin: 20px;
      }



